html, body 
{
	font-family: Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.fixed-container {
	width: 1260px;
	margin: 0 auto;
}
nav a {
	color: black;
	text-decoration: none;
	margin-right: 30px;
}
nav a:hover {
	color: #fc5577;
	padding-bottom: 1px;
	border-bottom: 1px solid #fc5577;
}
header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
	margin-top: 180px;
	font-weight: 800;
	font-size: 470%;
	margin-bottom: -15px;
}
h3 {
	margin-bottom: 50px;
	letter-spacing: -1px;
	font-size: 150%;
	color: #817d7c;
	font-weight: 200;
}
#contacts-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.main-container {
	align-items: center;
	flex-direction: column;	
}
#main-theme {
	background-image: url('/image/Dmitry Alekseev.png');
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: top;
	margin-top: -15px;
	height: 760px;
}
.center-container {
	margin-top: 95px;
	text-align: center;
	justify-content: center;
	font-weight: 800;
	font-size: 320%;
	margin-bottom: 80px;
}
.about-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}
.sign {
	float: center;
	margin: 25px 90px;
	text-align: center;
}
.sign figcaption {			
	color: #817d7c;
	margin: 0 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 13px;
	margin-left: -30px;
	margin-right: -30px;
}
.sign_ex {
	float: center;
	margin: 25px 0px;
	text-align: center;
}
.sign_ex figcaption {			
	color: #817d7c;
	margin-top: 13px;
}
.phone {
	margin-right: 20px;
	text-decoration: none;
	color: black;
	font-size: 24px;
	font-weight: bold;
}
.phone_bottom {
	margin-right: 237px;
	text-decoration: none;
	color: black;
	font-size: 24px;
	font-weight: normal;
	margin-left: 20px;		
}
.order-recall {
	color: #fc5577;
	border: 1px solid #fc5577;
	font-size: 18px;
	background-color: white;
	padding: 12px 40px;
	cursor: pointer;
	outline: none;
}
.know-more {
	width: 270px;
	height: 60px;
	color: white;
	border: 1px solid #db4a26;
	font-size: 18px;
	background-color: #db4a26;
	cursor: pointer;
	outline: none;	
	text-align: center;	
	margin-bottom: 100px;	
}
.orange_theme {
	width: 100%;
	height: 365px;
	background-color: #db4a26;
	color: white;
	display: flex; /*отцентровка*/
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
#form-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #b9b9b9b8; /*чтобы было видно форму, фон серый полупрозрачный*/
	display: none;
	justify-content: center;
	align-items: center; /*выравнивание по вертикали*/
}
#recall-form {
	width: 300px;
	height: 400px;
	background-color: white;
	padding: 15px;
}
#recall-form > * {
	display: block;
	margin-bottom: 10px;
}
.center-button {
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 80px;
}
.last-container {
	margin-bottom: 150px;
	margin-top: 80px;
}
.last-container nav a{
	color: #817d7c;
	text-decoration: none;
	margin-right: 30px;
	margin-bottom: -70px; 
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	font-size: 18px;
	font-weight: normal;
}
.last-container nav a:hover {
	color: #fc5577;
	border-bottom: none;
}
#contacts-info {
	float: right;
	width: 800px;
	display: inline-flex;
	align-items: center; /*выравнивание по центру по вертикали*/
}
.container {
	width: 300px;
}
.icons {
	margin-top: 13px; 
	margin-right: 25px;
}

.icons img {
    margin-right: 25px;
}
/*
.icons img:last-child {
    margin-right: 0;
}*/
.right_container {
	display: flex;
	justify-content: space-between;
}
footer {
	width: 100%;
	height: 81px;
	background-color: #31293c;
	color: white;
	display: flex; /*отцентровка*/
	justify-content: center;
	align-items: center;
	font-size: 16px;
}
